<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" id="WebApp_ID" version="6.0">


<servlet>
    <servlet-name>pooja</servlet-name>
    <servlet-class>com.telusko.AddServlet</servlet-class>
</servlet>



<servlet-mapping>
 <servlet-name>pooja</servlet-name>
  <url-pattern>/add</url-pattern>
 </servlet-mapping>
 
 
</web-app>